@font-face {
    font-family: "DragonHunter", sans-serif;
    src: url(./fonts/DragonHunter-9Ynxj.otf);
}

h1 {
    font-family: "DragonHunter";
    text-shadow: 5px 5px maroon;
    color: white;

}

.image {
    background-image: url("./images/03-DndSplash.webp");
    height: 800px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.quote {
    font-size: 50px;
    font-family: "DragonHunter";
    display: flex;
    justify-content: end;
    text-align: center;
    text-shadow: 5px 5px maroon;
    color: white;
  }

p {
    color: maroon;
    font-family: "DragonHunter";
    font-size: 20px;
}


.savedCharacters{
    color: rgb(37, 138, 42);
    font-family: "DragonHunter";
    font-size: 20px;
}


}

.image {
    background-image: url("./images/03-DndSplash.webp");
    height: 800px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.quote {
    font-size: 50px;
    font-family: "DragonHunter";
    display: flex;
    justify-content: end;
    text-align: center;
    text-shadow: 5px 5px maroon;
    color: white;
  }

p {
    color: maroon;
    font-family: "DragonHunter";
    font-size: 20px;
}



div .column{

.column {
    box-shadow: 5px 5px black;
    border-radius: 10px 10px;

    border: 5px solid maroon;
}

.button:hover{
    background-color: gray;
}