@font-face {
    font-family: "DragonHunter", sans-serif;
    src: url(./fonts/DragonHunter-9Ynxj.otf);
}

h1 {
    font-family: "DragonHunter";
    font
}

p {
    color: aqua;
    font-family: "DragonHunter";
    font-size: 20px;
}

footer {
    background-color: black;
}

div .column{
    outline: 2px solid rgb(0, 124, 128);
}
